@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu',
sans-serif;


@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";
@import "_select3.scss";


a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  background: #F6F7F9;

  &.ohi {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.contain {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.lcpadding {
  padding-left: calc((100% - 1280px)/2);

  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }

  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }

  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }

  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }

  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2);

  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }

  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }

  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }

  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }

  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {
  padding-right: calc((100% - 1180px)/2);

  @media only screen and (max-width : 1199px) {
    padding-right: calc((100% - 970px)/2);
  }

  @media only screen and (max-width : 991px) {
    padding-right: calc((100% - 750px)/2);
  }

  @media only screen and (max-width : 767px) {
    padding-right: calc((100% - 600px)/2);
  }

  @media only screen and (max-width : 640px) {
    padding-right: calc((100% - 530px)/2);
  }

  @media only screen and (max-width : 570px) {
    padding-right: 15px;
  }
}



input[type="password"].filter-input,
input[type="text"].filter-input {
  height: 56px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0dae9;
  border-radius: 6px;
  font-weight: 600;
  background-color: #FFF;
  color: #2F3544;
  padding: 0 18px;

  &::placeholder {
    font-weight: 500;
    color: #606A7C;
  }

  &:focus {
    outline: 0;

    +span.finput-line {
      display: block;
    }
  }

  &-nobord {
    border: none;
    height: 100%;
  }

  &.icon {
    /*background-image: url('../img/icon.svg');*/
    background-position: 18px 50%;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 0px 18px 0px 50px;
  }
}




.filter-input {
  &.date {
    background-image: url('../img/date.svg');
  }

  &.user {
    background-image: url('../img/user.svg');
  }

  &.email {
    background-image: url('../img/email.svg');
  }

  &.geo {
    background-image: url('../img/geo-i.svg');
  }

  &.pass {
    background-image: url('../img/pass-i1.svg');
  }

  &.phone {
    background-image: url('../img/tel-i.svg');
  }

  &.site {
    background-image: url('../img/www-i.svg');
  }

  &.title {
    background-image: url('../img/title-i.svg');
  }
}

input[type="text"].signform-input {
  margin-bottom: 20px;
}

.filter-label {
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15.3px;
  }

  input[type="checkbox"] {
    display: none;

    +span {
      width: 18px;
      height: 18px;
      display: flex;
      border: 2px solid rgb(194, 204, 218);
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 10px;
      flex: none;
      align-items: center;
    }

    &:checked {
      +span {
        border-color: #3181F6;
        background: #3181F6 url("../img/checkbox-wh.svg") $nr center;
      }
    }
  }
}

.sugnup-label {
  align-items: flex-start;

  input[type="checkbox"] {
    +span {}
  }
}

input[type="submit"].btn,
.btn {
  height: 56px;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #216edf;
  background: #3181F6;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 10px 10px -4px rgba(49, 129, 246, 0.2);
  }

  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn-icon {
  margin-right: 10px;
  flex: 0 0 auto;
}

.btn-dia {
  span {
    color: #C2CCDA;
    display: inline-block;
    margin-left: 5px;
  }
}

.w100 {
  width: 100%;
}

.btn-wh {
  height: 56px;
  padding-right: 21px;
  padding-left: 21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #fff;
  color: #3181f6;
  text-decoration: none;

  &:hover {
    background-color: #e0e5ec;
  }
}

.btn-gray {
  display: inline-flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  background: #e0e5ec;
  border-radius: 5px;
  height: 56px;
  color: rgb(145, 159, 179);
  background: #e0e6ed;

  &:hover {
    text-decoration: none;
    background: #d5dae0;
    color: #8795AA;
  }
}

.btn-o {
  display: inline-flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #3181F6;
  color: #3181F6;
  height: 56px;
  border-radius: 6px;

  &:hover {
    background: #3181F6;
    box-shadow: 0px 10px 10px -4px rgba(49, 129, 246, 0.2);
    color: #FFF;
  }

  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn,
.btn-wh,
.btn-min,
.btn-wh-min,
.btn-gray,
.btn-o {
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }
}

.btn-min {
  height: 46px;
  padding: 0 16px;
}

.registr-bot {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
}

.registr-label {
  max-width: 461px;
  display: flex;
  align-items: flex-start;
}

.registr-label-span {
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
}

.registr-label-span-txt {

  font-size: 16px;
  line-height: 1.3;
  color: rgb(145, 159, 179);

  a {
    color: #3181F6;
  }
}

.sign2 {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: #fff url("../img/signs-2.svg") $nr center;
}

.container__main_before {
  display: none;
}

.signup {
  display: flex;
  height: 100vh;
}

.signup-l {
  flex: 1 1 auto;
  background-image: url("../img/signin-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: 40px;
}

.show-1100 {
  display: none;
}

.logo {
  display: inline-block;
  margin-top: 8px;
  margin-right: auto;
}

.sign-logo {
  display: inline-block;
  position: absolute;
  z-index: 3;
  top: 17px;
  left: 40px;
}

.signup-txts {
  margin-top: 203px;
  color: rgb(255, 255, 255);
  padding-left: 171px;
}

.signup-tit {
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.burger {
  display: none;
}

.signup-list {
  margin-bottom: 40px;
}

.signup-list-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  padding-left: 56px;
  background-image: url("../img/checks-wh.svg");
  background-repeat: no-repeat;
  background-position: left top 8px;
  margin-bottom: 22px;
}

.signup-copy {

  font-size: 14px;
  line-height: 1.1;
  color: rgb(145, 159, 179);
  margin-left: 33px;
  margin-bottom: 40px;
  margin-top: auto;
}

.signup-r {
  width: 632px;
  flex: 0 0 auto;
  background-color: rgb(255, 255, 255);
}

.signup-r-inn {
  width: 100%;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;
}

.signform-wrap {
  margin-top: 35.6%;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.signform-tit {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(47, 53, 68);
  margin-bottom: 11px;
}

.signform-subtit {

  font-size: 16px;
  line-height: 1.3;
  color: rgb(145, 159, 179);
}

.signform {
  margin-top: 58px;
}

.signup-info {
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 40px;
  display: block;
  width: 100%;

  font-size: 16px;
  line-height: 1.3;
  color: rgb(145, 159, 179);
}

.signup-close {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 3;
}

a {
  color: #3181F6;
}

.sugnup-label {
  margin-top: 30px;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.signup-btn {
  width: 100%;
  margin-top: 33px;
}

.signup-copy-right {
  text-align: right;
}

.signin {}

.signinform {}

.signform-input-wrap {
  position: relative;
}

.show-pass {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 19px;
  height: 100%;
  width: 50px;
  background: url("../img/pass-i.svg") right center;
  background-repeat: no-repeat;
}

.signin-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
}

.signin-btn {
  padding: 0 20px;

}

.sugnin-label {
  width: auto;

  &:not(:last-child) {
    margin-bottom: 0;

  }
}

.forget-pass {
  display: block;
  text-align: right;
  margin-top: 15px;

  font-size: 14px;
  color: #919FB3;
}

.top {
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #3181f6;
  min-height: 60px;
}

.top-w {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.top-actions {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.topuser {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;

}

.topuser-img-w {
  overflow: hidden;
  flex: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgba(#fff, 0.2);

  img {
    object-fit: cover;
  }
}

.topuser-name {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-left: 10px;

  &:after {
    content: "";
    display: block;
    flex: none;
    width: 12px;
    height: 8px;
    background: url("../img/arr-b-user.svg") $nr right center;
    margin-left: 5px;
  }
}

.cols {
  display: flex;
  margin-top: 60px;
}

.col-l {
  flex: none;
  width: 305px;
  margin-right: 20px;
}

.col-r {
  flex-grow: 1;
}

.cols-objects {}

.usermenu {
  background-color: #FFF;
}

.usermenu-ul {
  background-color: #FFF;

  li {
    a {
      display: block;

      font-size: 16px;
      width: 100%;
      color: #717783;
      display: flex;
      align-items: center;
      padding: 10px 20px;

      svg {
        fill: #919FB3;
        margin-right: 11px;
      }

      &:hover {
        text-decoration: none;
        position: relative;
        color: #2F3544;
        font-weight: 600;

        svg {
          fill: #3181F6;
        }

        &:before {
          content: "";
          display: block;
          height: 46px;
          width: 3px;
          background: #3181F6;
          border-radius: 0 3px 3px 0px;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    &.active {
      a {
        position: relative;
        color: #2F3544;
        font-weight: 600;

        svg {
          fill: #3181F6;
        }

        &:before {
          content: "";
          display: block;
          height: 46px;
          width: 3px;
          background: #3181F6;
          border-radius: 0 3px 3px 0px;
          position: absolute;
          left: 0;
          top: 0;
        }

      }
    }
  }
}





.usermenu-row-1 {
  display: flex;
  align-items: center;
  padding: 27px 20px 25px;
}

.usermenu-img-w {
  flex: 0 0 auto;
  width: 84px;
  height: 84px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 10px 10px -5px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  padding: 7px;
}

.usermenu-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.usermenu-titles {
  flex: 1 1 auto;
}

.usermenu-title {
  font-weight: 600;
  font-size: 18px;
  color: rgb(47, 53, 68);
  margin-bottom: 5px;
}

.usermenu-subtitle {

  font-size: 14px;
  color: #919FB3;
}



.usermenu-num {
  height: 20px;
  background: rgb(49, 129, 246);
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: auto;
}

.usobject-open {
  border-top: 1px solid rgb(208, 218, 233);
  padding: 0;
  transition: 0.5s;
  max-height: 0px;
  padding: 0px 30px 0 30px;
  overflow: hidden;
}


.usobject-item {
  background: #FFFFFF;
  box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.07);
  border-radius: 10px;
  overflow: hidden;
  overflow: visible;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &._open {
    .usobject-open {
      padding: 31px 30px 30px;
      max-height: 700px;
      overflow: visible;
    }
  }
}

.usobject-inn {
  display: flex;
}

.usobject-l {
  width: 180px;
  display: block;
  flex: 0 0 auto;
  border-radius: 10px 0px 0px;
  overflow: hidden;
}

.usobject-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.usobject-r {
  flex: 1 1 auto;
}

.usobject-r-inn {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.usobject-actions {
  display: flex;
  height: 70px;
  flex: none;
  border-bottom: 1px solid rgb(208, 218, 233);
}

.usobject-list {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1 1 auto;
}

.usobject-list-item {
  a {
    display: flex;
    align-items: center;
    color: #717783;
    font-size: 14px;

    &:hover {
      text-decoration: none;

      svg {
        fill: #3181F6;
      }
    }

    svg {
      flex: none;
      margin-right: 8px;
      fill: #919FB3;
    }
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.usobject-edit {
  width: 84px;
  flex: 0 0 auto;
  border-left: 1px solid rgb(208, 218, 233);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    flex: none;
    margin-right: 11px;
    fill: #919FB3;
  }

  &:hover {
    text-decoration: none;

    >svg {
      fill: #3181F6;
    }
  }
}

.usobject-info {
  padding: 25px 30px 28px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.usobject-info-row-1 {
  display: flex;
  justify-content: space-between;
}

.usobject-info-txts {}

.usobject-title {
  font-weight: 600;
  font-size: 18px;
  color: rgb(47, 53, 68);
  display: block;
  margin-bottom: 16px;
}

.usobject-geo {
  padding-left: 21px;

  font-size: 14px;
  line-height: 1.1;
  color: rgb(145, 159, 179);
  background-image: url("../img/geo-i2.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.usobject-status {}

.usobject-status-1 {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: rgb(103, 193, 95);
  margin-bottom: 5px;
}

.usobject-status-date {

  font-size: 14px;
  text-align: right;
  color: #67C15F;
}

.usobject-info-row-2 {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.usobject-label-span-txt-2 {
  display: none;
}

.usobject-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  >input[type="checkbox"] {
    display: none;

    +span {
      width: 44px;
      height: 24px;
      background: rgb(49, 129, 246);
      border-radius: 19px;
      flex: 0 0 auto;
      align-items: center;
      display: flex;
      background: #D0DAE9;
      padding: 2px;
      transition: 0.5s;
      position: relative;

      span {
        width: 20px;
        height: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 auto;
        display: flex;
        transition: 0.5s;
        float: left;
      }
    }

    &:checked {
      +span {
        justify-content: flex-end;
        background: #3181F6;

        span {
          float: right;
        }

        +span .usobject-label-span-txt-1 {
          display: none;
        }

        +span .usobject-label-span-txt-2 {
          display: inline;
        }
      }
    }
  }
}



.usobject-label-span-txt {
  margin-left: 0px;
  margin-right: 10px;

  font-size: 14px;
  color: #919FB3;
  order: -1;
}



.hint-label {}

.hint-checkbox {}




.usobject-head {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.usobject-nums {
  font-weight: 600;
  font-size: 18px;
  color: #2F3544;
}

.usobject-orders {}

.usobject-orders-link {

  font-size: 14px;
  color: #717783;
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  img {
    margin-right: 9.5px;
  }
}

.usobject-w {
  margin-top: 14px;
}

.usobject-nums-item {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(208, 218, 233);
  border-radius: 10px;
  padding: 10px 10px 9px 10px;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.usobject-nums-img-w {
  display: block;
  width: 142px;
  height: 96px;
  border-radius: 6px;
  overflow: hidden;
  flex: 0 0 auto;
}

.usobject-nums-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.usobject-nums-txts {
  margin-left: 18px;
  flex: 1 1 auto;
  padding-top: 10px;
}

.usobject-nums-title-w {
  display: flex;
  justify-content: space-between;
}

.usobject-nums-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(47, 53, 68);
  margin-bottom: 6px;

}

.usobject-nums-edit {
  margin-left: 15px;
  width: 14px;
  height: 14px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  svg {
    fill: #919FB3;
    width: 15px;
    flex: none;
  }

  &:hover {
    text-decoration: none;
    position: relative;
    color: #2F3544;
    font-weight: 600;

    >svg {
      fill: #3181F6;
    }

    .popinfo-2 {
      display: block;
    }
  }
}

.usobject-num {

  font-size: 14px;
  color: #919FB3;
}

.usobject-chars {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.usobject-chars-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.usobject-chars-i {}

.usobject-chars-txt {

  font-size: 14px;
  color: rgb(145, 159, 179);
  margin-left: 10px;
}

.add-num {
  display: block;

  font-size: 16px;
  color: rgb(49, 129, 246);
  margin-top: 31px;
}

.link-icon {
  margin-left: 6px;
}

.roll2 {
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  .txt {
    font-size: 14px;
    color: #3181F6;
  }
}

.red {
  color: #F95D5D;
}

.btn-newobj-w {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
}

.rotate {
  .roll-span {
    transform: rotate(0deg);
  }
}

.roll-span {
  display: inline-block;
  margin-left: 9.5px;
  transform: rotate(180deg);
}

.main-3 {
  padding-bottom: 176px;
}

.userobjects-emty {

  font-size: 16px;
  line-height: 1.25;
  color: #717783;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}



.popinfo {
  z-index: 5;
  background-color: #FFF;
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -6px;
  border-radius: 10px;
  width: 250px;
  padding: 15px 0 0 0;

  font-size: 14px;
  line-height: 1.2;
  color: rgb(113, 119, 131);
  position: absolute;
  display: none;
  border: 1px solid rgba(#ccc, 0.2);

  .usermenu-ul li a {
    font-size: 14px;
  }

  .usermenu-ul li a svg {
    margin-right: 9px;
  }
}

.popinfo-3 {
  left: calc(50% - 0px);
  bottom: 27px;
  transform: translate(-50%, 0);
  padding: 25px 20px;

  &:after {
    content: "";
    display: block;
    background: url("../img/triangle.svg") $nr top center;
    height: 8px;
    width: 100%;
    bottom: -8px;
    left: 0;
    position: absolute;
  }
}

.popinfo-inn {}

.popinfo-1 {
  right: 0;
  bottom: 1px;
  width: 255px;
  transform: translate(0, 100%);
}

.popinfo-2 {
  left: 17px;
  transform: translate(-100%, 0);
  top: 13px;
}

.usobject-label {
  &:hover {
    .popinfo-3 {
      display: block;

      &.hide {
        display: none;
      }
    }
  }
}

.usobject-label-span-txt-1 {
  position: relative;

  &:hover {
    .popinfo {
      display: block;
    }
  }
}



.usermenu-row {
  padding: 20px 0px;
  border-top: 1px solid rgb(208, 218, 233);

  &--first {
    border: none;
    padding-top: 0px;
  }
}

.usermenu-row-padd {
  padding: 12px 0;
}

.hint {
  margin-bottom: 20px;
}

@media (min-width : 1199px) {}

.usobject-edit {
  &:hover {
    .popinfo-1 {
      display: block;
    }
  }
}





.booking-summ>strong {
  font-weight: 600;
  color: rgb(47, 53, 68);
  margin-left: 10px;
}

.booking-row-3>img {
  margin-right: 10px;
}

.booking-item {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.booking-row-1 {
  padding: 25px 30px 20px;
  border-bottom: 1px solid rgb(208, 218, 233);
  display: flex;
  align-items: center;
}

.booking-col-1 {
  width: 31.1%;
}

.booking-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(47, 53, 68);
}

.booking-col-2 {
  width: 33.3333%;
}

.booking-col-3 {
  flex-grow: 1;
}

.booking-summ {

  font-size: 16px;
  text-align: right;
  color: #919FB3;
}

.booking-row-2 {
  padding: 28px 30px 31px;
  border-bottom: 1px solid rgb(208, 218, 233);
  display: flex;
  align-items: center;
}

.booking-char-it {
  color: rgb(113, 119, 131);

  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.booking-char-img {
  margin-right: 10px;
  width: 17.5px;
}



.booking-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.booking-cancel {

  font-size: 14px;
  color: rgb(145, 159, 179);
  margin-right: 40px;
}

.booking-btn {}

.booking-row-3 {
  padding: 20px 30px;

  font-size: 14px;
  line-height: 1.4;
  color: rgb(113, 119, 131);
}

.booking-dop {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;

  &._on {
    padding: 5px 0 0 0;
    max-height: 100px;
  }

  img {
    margin-right: 11px;
  }
}

.booking-confirm {
  font-weight: 600;
  font-size: 16px;
  color: rgb(103, 193, 95);
  text-align: right;
}

.booking-more {

  font-size: 16px;
  color: rgb(96, 106, 124);
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    margin-left: 13px;
  }

  &:hover {
    text-decoration: none;
  }
}

.search-orders {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

input[type="text"].search-input {
  margin-left: auto;
  max-width: 305px;
  background-image: url("../img/search-i.svg");
  box-shadow: 0px 10px 10px -5px rgba(46, 52, 68, 0.1);
  border: none;
}

.top-action {
  display: none;
}

.search-btn {
  display: none;
}

.ordersdown-w {
  max-width: 305px;
  width: 100%;
}

.ordersdown {
  height: 56px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  max-width: 305px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:after {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: calc(50% - 4px);
    content: "";
    display: block;
    background: url("../img/arr-b-gray.svg") $nr center;
    width: 14px;
    height: 8px;
  }

  .ordersopen-txt-2 {
    text-overflow: ellipsis;
    width: 184px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}

.ordersdown-img-w {
  width: 46px;
  height: 46px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(208, 218, 233);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.ordersdown-text {
  margin-left: 15px;
  margin-right: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  flex: 1 1 auto;
}

.ordersdown-arrow {}


.ordersdown-w {
  position: relative;
}

.ordersopen {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 8px 5px;
  position: absolute;
  width: 100%;
  bottom: -10px;
  z-index: 5;
  transform: translate(0%, 100%);
  max-height: 215px;
  overflow-y: auto;
  display: none;

  &.open {
    display: block;
  }

  .mCSB_scrollTools {
    width: 3px;
  }

  .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #D0DAE9;
    border-radius: 4px;
    width: 3px;
    margin: unset;
    margin-right: 0;
  }

  .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #FFF;
    width: 3px;
  }

  .mCSB_inside>.mCSB_container {
    margin-right: 6px;
  }
}

.ordersopen-elem {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.active {
    background-color: #F0F2F6;
  }

  &:hover {
    background-color: #F0F2F6;
  }
}

.ordersopen-elem-2 {}

.filter-where-list-1 {
  margin-top: 20px;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.ordersopen-img-w {
  width: 46px;
  height: 46px;
  flex: 0 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.ordersopen-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ordersopen-txts {
  flex: 1 1 auto;
  margin-left: 15px;

  .ordersopen-txt-2 {
    text-overflow: unset;
    width: auto;
    white-space: unset;
    overflow: visible;
  }
}

.ordersopen-txt-1 {

  font-size: 12px;
  color: rgb(145, 159, 179);
  margin-bottom: 4px;
}

.ordersopen-txt-2 {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);
  text-overflow: ellipsis;
  width: 221px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.all-ht-img-w {
  display: flex;
  position: relative;
  height: 221px;
  overflow: hidden;

  >img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.likes-row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
}

.likes-col {
  width: 33.333%;
  padding: 0 10px;
}

.all-ht {
  margin-top: 60px;
}

.like-label {
  input[type="checkbox"] {
    display: none;

    +span {
      display: block;
      background: url("../img/like.svg") $nr center;
      width: 20px;
      height: 19px;
    }

    &:checked {
      +span {
        background: url("../img/like-ch.svg") $nr center;
        background: url("../img/like.svg") $nr center;
      }
    }
  }
}

.all-ht-it {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  margin-bottom: 21px;
  overflow: hidden;
}

.all-ht-rating {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

.all-ht-rating-row {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.all-ht-rating-span {

  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.all-ht-rating-txt {

  font-size: 12px;
  color: #FFFFFF;
}

.all-ht-inf {
  padding: 27px 20px 20px;
}

.all-ht-inf-a {

  font-size: 14px;
  color: rgb(49, 129, 246);
  display: block;
}

.all-ht-inf-txt-1 {
  margin-top: 3px;
  font-weight: 600;
  font-size: 18px;
  color: #2F3544;
  display: block;
}

.all-ht-inf-geo {
  margin-top: 14px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  >img {
    margin-top: 3px;
  }
}

.all-ht-inf-geo-span {

  font-size: 14px;
  color: rgb(145, 159, 179);
  margin-left: 7px;
}

.all-ht-inf-txt-3 {

  font-size: 12px;
  color: #717783;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-ht-inf-txt-3-span {
  font-weight: 600;
  font-size: 18px;
  color: rgb(47, 53, 68);
  margin-left: 5px;
  margin-right: 5px;
}

.choice-btn-scroll {
  margin-bottom: 22px;
  width: 100%;
}

.main-6 {
  padding-bottom: 80px;
}


.rev-photo-row {
  display: flex;
  margin-bottom: 33px;
}

.rev-photo {
  display: inline-flex;
  width: 46px;
  justify-content: center;
  align-items: center;
  height: 46px;
  border-radius: 6px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &-more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      background: linear-gradient(0deg, rgba(43, 53, 78, 0.85), rgba(43, 53, 78, 0.85));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.rev-photo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rev-photo-img-span {
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: absolute;
}

.rat {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.05) 0px 20px 20px -10px;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .rat-open {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .rat-p-w {}

  &._open {}
}

.booking-actions {}

.ratbot-cancel {

  font-size: 14px;
  color: #919FB3;
}

.ratbot-btn {
  margin-left: 40px;
}


.ratvis {
  padding: 22px 30px 30px;
}

.rat-answ {}

.rat-n {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  .rev-top-star {
    margin-top: -9px;
  }
}

.rat-n-txt-w {}

.rat-n-txt-1 {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);
  margin-bottom: 8px;
  margin-top: 11px;
}

.rat-n-txt-2 {

  font-size: 14px;
  color: #919FB3;
}

.rev-top-star {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  font-size: 16px;
  color: rgb(113, 119, 131);
  position: relative;
}

.rev-star-span {
  background-image: url("../img/star-yell.svg");
  background-repeat: no-repeat;
  background-position: left top;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  flex: none;
}

.rat-p-w {}


.rat-p {

  font-size: 16px;
  line-height: 1.4;
  color: rgb(113, 119, 131);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &.show-hide-text {
    overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    box-orient: unset;
  }
}

.rat-eva {
  margin-bottom: 40px;
  margin-top: 25px;
}

.rat-eva-all {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.rat-eva-col {
  width: 258px;
}

.rat-eva-it {
  width: 100%;
  margin-bottom: 15px;
}

.rat-eva-n {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rat-eva-n-txt-1 {

  font-size: 14px;
  color: #717783;
}

.rat-eva-n-txt-2 {
  font-weight: 600;
  font-size: 16px;
  color: #2F3544;
}

.rat-eva-it-sc {
  background: rgb(227, 233, 242);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.rat-eva-it-sc-span {
  background: rgb(49, 129, 246);
  border-radius: 2px;
  height: 4px;
  display: block;
}

.rat-rev {
  background: rgb(246, 247, 249);
  border-radius: 5px;
  padding: 27px 20px 30px;
  margin-bottom: 30px;
}

.rat-rev-inf {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rat-rev-inf-n {}

.rat-rev-inf-n-txt-1 {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);
  margin-bottom: 5px;
}

.rat-rev-inf-n-txt-2 {

  font-size: 14px;
  color: #919FB3;
}

.rat-rev-inf-date-txt {
  width: 50%;

  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  color: rgb(145, 159, 179);
}

.rat-rev-txt {

  font-size: 16px;
  line-height: 1.4;
  color: rgb(113, 119, 131);
}




.ratansw {
  padding: 25px 30px;
  background: #F6F7F9;
  border-radius: 10px;
}

.ratansw-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratansw-l {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(47, 53, 68);
}

.ratansw-r {

  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  color: rgb(145, 159, 179);
}

.ratansw-text {

  font-size: 16px;
  line-height: 1.4;
  color: rgb(113, 119, 131);
  margin-top: 20px;
}

.ratbot {
  border-top: 1px solid rgb(208, 218, 233);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ratbot-apart {
  display: flex;
  align-items: center;
}

.ratbot-btns {
  margin-left: 20px;
}

.main-5 {
  padding-bottom: 221px;
}


.grade-numb-pop {
  top: 0;
  z-index: 2;
  right: -20px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.grade-numb-pop-inn {
  margin-top: 24px;
  width: 230px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -6px;
  border-radius: 10px;
  padding: 30px 20px;
}

.rev-top-star-rat {
  &:hover {
    .grade-numb-pop {
      opacity: 1;
      visibility: visible;
    }
  }
}

.show-hide-link {

  font-size: 16px;
  color: #3181F6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: block;

  img {
    margin-left: 7px;
    flex: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.rotate {
    img {
      transform: rotate(180deg);
    }
  }
}

.show-hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
  transition: 0.5s;

  &.on {
    overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    box-orient: unset;
  }
}

.rat-p-lnk {
  display: none;
}


.filter-col {}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.filter-col-bord {
  border-style: solid;
  border-width: 1px;
  border-color: #d0dae9;
  border-radius: 6px;
  height: 56px;
  background-color: #FFF;
}

.filter-col-lang input[type="text"].filter-input {
  width: calc(100% - 96px);
}

input[type="text"].filter-input-nobord {
  border: none;
  height: 100%;
}

.select2-container {
  border: none;
  width: auto !important;
}

.select2-container .select2-selection--single {
  border: none;
  display: flex;
  align-items: center;
  background: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  background: none;
  padding-right: 2px;
  padding-left: 0;
  font-weight: 600;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  width: 11px;
  background: url('../img/arr-dw-gr.svg') no-repeat right 0 center;
  position: static;
  margin-left: 9px;
  flex: none;
}

.select2-container .select2-results {
  border: none;
  margin-top: 10px;
}

.select2-container .select2-results__option {
  border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}

.select2-container .select2-search--dropdown {
  border: none;
}

.select2-container .select2-dropdown {
  box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.7);
}

.select2-container .select2-dropdown {
  min-width: 93px;
  top: 15px;
  top: unset
}

.select2-container {
  border: none;
  width: auto !important;
}

.filter-col-select+.select2-container .select2-selection--single {
  padding-left: 27px;
  position: relative;
}

.filter-col-select+.select2-container .select2-selection--single:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 35px;
  background: #D0DAE9;
  content: "";
  display: block;
}


.filter-col-select+.select2-container .select2-selection--single .select2-selection__rendered {
  color: #606A7C;
}

.selection__arrow {
  width: 11px;
  background: url('../img/arr-dw-gr.svg') no-repeat right 0 center;
  position: static;
  margin-left: 9px;
  flex: none;
}

.selection__arrow b {
  display: none;
}




.proftools {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.07);
  border-radius: 10px;
  padding: 30px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.proftools-l {
  width: 160px;
  flex: 0 0 auto;
}

.proftools-img-w {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 10px 10px -5px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 13px;
}

.proftools-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.proftools-r {
  flex: 1 1 auto;
  padding-left: 35px;
}

.proftools-tit {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(47, 53, 68);
  margin-bottom: 38px;
}

.proftools-tit-18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(47, 53, 68);
  margin-bottom: 38px;
}


.proftools-form-1 {
  margin-top: 40px;
}

.proftools-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.proftools-col {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
}

.proftools-col-100 {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.input-label {
  display: block;
}

.input-label-txt {
  display: block;
  margin-bottom: 17px;
  font-size: 16px;
  color: #606A7C;

  sup {
    color: #3181F6;
    font-size: 100%;
    top: 0;
  }
}

.proftools-btn[disabled],
.proftools-btn-2[disabled] {
  background: rgb(246, 247, 249);
  color: rgb(194, 204, 218);

  &:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-disable {
  padding-left: 20px;
  padding-right: 20px;
}

.proftools-btn-w {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.proftools-btn-w-2 {
  margin-top: 10px;
}

.proftools {

  input[type="password"].filter-input,
  input[type="text"].filter-input {
    &::placeholder {
      color: #C2CCDA;
    }

    color: #2F3544;
  }
}

.proftools-upload {
  display: flex;
  width: 100%;
  align-items: center;

  font-size: 14px;
  color: #3181F6;
  margin-top: 21px;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url("../img/upload.svg") $nr center;
    margin-left: 10px;
  }
}

.proftools-label {
  cursor: pointer;

  input[type="file"] {
    display: none;
  }
}

.main-7 {
  padding-bottom: 44px;
}

.wrapper.bord {}

.createobj-main {
  padding-top: 28px;
}

.back-link {
  background-image: url("../img/arr-l-gray.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 17px;
  display: inline-block;
  font-size: 16px;
  color: rgb(145, 159, 179);
  margin-bottom: 47px;
}

.cols-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.col-r {}

.createobj-h1 {
  font-weight: 600;
  font-size: 45px;
  color: rgb(47, 53, 68);
}

.createobj-h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
  color: #2F3544;
}

.col-l-inverse {
  width: 305px;
  margin-left: 20px;
  flex: none;
}

.stages-tit {
  font-weight: 600;
  font-size: 18px;
  color: #2F3544;
}

.cols-inv {
  display: flex;
  justify-content: space-between;
}

.createobj-form {
  display: flex;
  flex-direction: column;
}

.createobj-form-it {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 5px 0;
  margin-bottom: 77px;

  &:first-child {}
}


.objphotos {
  margin-top: 40px;
  display: flex;
  margin-bottom: 37px;
  flex-wrap: wrap;
}

.objphotos-it {
  box-shadow: rgba(46, 52, 68, 0.3) 0px 15px 15px -10px;
  border-radius: 6px;
  overflow: hidden;
  width: 171px;
  height: 120px;
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.objphotos-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.objphotos-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  flex-direction: column;
}

.objphotos-action-full {
  background: url("../img/full-w.svg") center center no-repeat rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  display: block;
}

.objphotos-action-del {
  background: url("../img/remove-img.svg") center no-repeat rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload {
  width: 171px;
  height: 120px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(208, 218, 233);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.objphotos-upl-txt {

  font-size: 12px;
  text-align: center;
  color: rgb(145, 159, 179);
  margin-top: 5px;
}

.objphotos-formats {

  font-size: 14px;
  line-height: 1.4;
  color: rgb(113, 119, 131);
}

.proftools-tit2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
  color: rgb(47, 53, 68);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.createobj-del {
  background-image: url("../img/remove-red.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.createobj-del-txt {

  font-size: 16px;
  line-height: 1.3;
  text-align: right;
  color: rgb(96, 106, 124);
}

.price-tabs {
  display: flex;
}

.price-tabs-li {
  width: 50%;
}





.price-tabs-link {
  font-size: 16px;
  text-align: center;
  color: rgb(96, 106, 124);
  display: block;
  padding-bottom: 22px;

  &:hover {
    text-decoration: none;
    font-weight: 600;
    color: rgb(47, 53, 68);
  }

  &.act {
    font-weight: 600;
    color: rgb(47, 53, 68);
    position: relative;

    &:before {
      margin-top: 0px;
      height: 3px;
      background: rgb(49, 129, 246);
      border-radius: 3px 3px 0px 0px;
      position: absolute;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
      bottom: 0px;
      content: "";
      display: block;
    }
  }
}

.createobj-add {
  height: 46px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 6px 6px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(145, 159, 179);
  padding-left: 30px;
  padding-right: 26px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:after {
    margin-left: 6px;
    content: "";
    display: block;
    background: url("../img/plus-gray.svg") $nr 0 0;
    width: 14px;
    height: 14px;
  }
}

.createobj-add-ico {
  margin-left: 6px;
}

.stages-progress {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 31px 20px;
}

.stages-list {}

.stages-list-item {
  margin-bottom: 20px;
}

.stages-link-active {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);
  display: block;
  background-image: url("../img/stages-check.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.stages-link {

  font-size: 16px;
  color: rgb(194, 204, 218);
  display: block;
}

.createobj-input-label {
  width: 100%;
  display: block;

  &:not(:last-child) {
    margin-bottom: 41px;
  }
}

.createobj-checks-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
}

.createobj-check-label {
  width: auto;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:last-child {
    margin-bottom: 15.3px;
  }
}

.createobj-input-label-frst {
  margin-bottom: 28px !important;
}

.createobj-checkbox {}

.label-span-txt {}

.input-txt-has-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"].createobj-input {
  &::placeholder {
    color: #C2CCDA;
  }
}

.label-lnk {
  color: #3181F6;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 27px;
  min-height: 22px;
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }

  &.map {
    background-image: url('../img/onmap.svg');
  }
}

.createobj-form-section {
  padding: 34px 30px 45px 30px;

  &:not(:last-child) {
    border-bottom: 1px solid #D0DAE9;
  }
}

.proftools-col-group {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.createobj-checks-row-2 {
  justify-content: center;
  height: 56px;
  align-items: center;

  .createobj-check-label {
    margin-bottom: 0;

    :not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.add-contact {
  display: inline-flex;
  padding-right: 21px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -5px;

  &:hover {
    text-decoration: none;
  }

  &:after {
    margin-left: 5px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/plus-blue.svg") $nr center;
  }
}

.createobj-row-50 {
  .proftools-col {
    margin-bottom: 43px;
  }

  .proftools-col-last {
    margin-bottom: 0 !important;
  }
}

.proftools-col-last {
  margin-bottom: 0;
}

.createobj-row-33 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

}

.createobj-row-facilities {
  margin-bottom: 45px;
}

.facilities-check-label {
  width: 33.333%;
  padding: 0 10px;

  &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 15px;
  }
}

textarea.area {
  height: 160px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D0DAE9;
  border-radius: 6px;
  padding: 18px;
  margin-bottom: 40px;

  &::placeholder {
    font-weight: 400;
    color: #C2CCDA;
  }

}

.createobj-row-70-30 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.col-70 {
  width: 70%;
  padding: 0 5px;
}

.col-30 {
  width: 30%;
  padding: 0 5px;
}

.proftools-col-25 {
  width: 25%;
  padding: 0 5px;
}

.mb40 {
  margin-bottom: 40px;
}

////////////upload

.card {
  border-radius: 6px;
  background-color: #FFF;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn {}

.btn-primary {
  background: #209eff;
  color: #fff;
}



input[type="file"] {
  display: none;
}

.preview {}

.preview-image {}

.preview-image img {}

.preview-remove {}

.preview-info {}

////////////upload end


.cols-inv {

  .col-r {}
}




.countrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.countrow-tit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(145, 159, 179);
}

.countrow-right {
  margin-left: 20px;
}

.input-i-block {
  background: url("../img/date.svg") center no-repeat rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 10px 10px;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: none;
}

.countrow-sel {
  +.select2-container {
    margin-right: 10px;

    .select2-dropdown {
      top: 0;
    }

    .select2-selection--single {
      background: #FFFFFF;
      box-shadow: 0px 6px 6px rgba(46, 52, 68, 0.07);
      border-radius: 6px;
      height: 46px;
      padding: 0 15px;
    }
  }
}


:root {
  --litepicker-day-width: 40px;
}


.litepicker {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transform: translate(0%, 7px);

  .container__months {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 340px;
    box-shadow: 0px 20px 20px -10px rgba(68, 85, 132, 0.15);
    border-radius: 10px;

    .month-item {
      width: 100%;
      padding: 30px;

      &:nth-child(1) {
        padding-right: 20px;
      }

      &:nth-child(2) {
        padding-left: 20px;
      }
    }
  }

  .container__days {
    .day-item {
      padding: 13px 0;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #606A7C;

      &.is-locked {
        color: #C2CCDA;
        outline: none !important;
        border: none !important;

        &:hover {
          color: #C2CCDA;
        }
      }

      &.is-today {
        font-weight: 600;
        color: #3181F6;
      }

      &.is-start-date,
      &.is-end-date {
        border-radius: 6px;
        background: #3181F6;

        &:hover {
          color: #FFF;
        }
      }

      &.is-in-range {
        background: rgba(#3181F6, 0.07);
      }

      &:hover {
        outline: 1px solid #D0DAE9;
        border-radius: 6px;
        box-shadow: none;
        color: #606A7C;
      }
    }
  }
}


.litepicker .container__months .month-item-header div {
  >.month-item-name {
    font-weight: 600;
    font-size: 16px;
    color: #2F3544;
  }

  >.month-item-year {
    font-weight: 500;
    font-size: 16px;
    color: #919FB3;
  }

}

.litepicker .container__months .month-item:first-child {
  .button-previous-month {
    background: rgba(255, 255, 255, 0.85);
    background: url('../img/arr-sl-r.svg') center center no-repeat rgba(255, 255, 255, 0.99);
    box-shadow: 0px -10px 10px rgba(46, 52, 68, 0.05);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 0;
    transform: translate(-23px, 50%) rotate(180deg);
    bottom: 50%;

    svg {
      display: none;
    }
  }

  .button-next-month {}
}

.litepicker .container__months .month-item:last-child .button-next-month {
  background: rgba(255, 255, 255, 0.85);
  background: url('../img/arr-sl-r.svg') center center no-repeat rgba(255, 255, 255, 0.99);
  box-shadow: 0px 10px 10px rgba(46, 52, 68, 0.05);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: translate(23px, 50%);
  bottom: 50%;

  svg {
    display: none;
  }
}

.litepicker .container__months .month-item-weekdays-row {
  >div {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #919FB3;
    padding: 13px 0;
  }
}

.litepicker .container__months .month-item-header div>.month-item-name {
  text-transform: capitalize;

}

.datas {
  margin-top: 20px;
  border-top: 1px solid #D0DAE9;
}

.datasrow {
  display: flex;
  margin: 0 -5px;
  border-bottom: 1px dashed #919FB3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 44px;
  position: relative;
}

.datascol {
  width: 20%;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

input[type="text"].datas-input {
  padding: 0 13px;

  &::placeholder {
    color: #C2CCDA;
  }
}

.datascol-icon {
  border: 1px solid #D0DAE9;
  border-radius: 6px;
  display: flex;
  padding: 3px;
  height: 56px;
  align-items: center;
  position: relative;
  width: 100%;
  cursor: pointer;

  .input-i-block {
    position: absolute;
    left: 3px;
    top: 3px;
  }

  input[type="text"].date-input {
    width: 100%;
    border: none;
    margin-left: 5px;
    background-color: transparent;
    padding-left: 91px;
    position: relative;
    z-index: 2;
    cursor: pointer;

  }
}

.datascol-bord {
  border: 1px solid #D0DAE9;
  border-radius: 6px;
  display: flex;
  align-items: center;

  input[type="text"].datas-input {
    border: none;
  }
}

.datas-lbl {
  position: absolute;
  top: 50%;
  left: 71px;
  flex: none;
  transform: translate(0, -50%);
}

.datas-curr {
  margin-right: 13px;
}

.datascol-dis {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(#fff, 0.7);
    width: 100%;
    height: 100%;
  }
}

.datasrow-remove {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 20px;
  height: 20px;
  background: url("../img/remove22.svg") $nr 0 0;
  cursor: pointer;
}

a.add-reriod {
  padding-right: 20px;
  display: inline-block;
  background: url("../img/period-plus.svg") $nr right center;
  margin-top: 30px;

  &:hover {
    text-decoration: none;
  }
}

.createobj-form-actions {
  margin-top: -30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 61px;
}

.createobj-action-right {
  display: flex;
  align-items: center;
}

.createobj-actions-label {
  margin-bottom: 0 !important;
  margin-right: 0;

  .label-span-txt {
    color: #919FB3;
  }

  input[type="checkbox"] {}
}

.createobj-form-pay {
  min-height: 314px;
  margin-bottom: 60px;
}


.wrapper-8 {
  padding-bottom: 170px;
}

.createobj-btn {
  width: 100%;
}

.filter-col-select-2 {
  +.select2-container {
    margin-left: 10px;

    .select2-selection--single {
      padding-left: 0;

      .select2-selection__rendered {
        color: #3181F6;
      }

      &:before {
        display: none;
      }
    }
  }
}

.filter-col-select-dis {
  +.select2-container {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(#fff, 0.75);
      z-index: 2;
    }
  }
}

.createobj-row-33-2 {
  margin-bottom: 20px;
}

.add-contact-2 {
  margin-bottom: 0;
}

.sales-wrapper {
  padding-top: 25px;
  padding-bottom: 40px;
}

.sales-items {
  margin-bottom: 30px;
  p {
    color: #606A7C;
    line-height: 1.6;
  }
}

.sales-empty {
  margin-top: 60px;
}


.sales-item {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.07) 0px 20px 20px -10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.sales-img-w {
  width: 175px;
  display: flex;
  height: 108px;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 auto;
  position: relative;

  &:before {
    background: linear-gradient(180deg, rgba(43, 53, 78, 0) 50%, rgba(43, 53, 78, 0.45) 75.26%, rgba(43, 53, 78, 0.85) 100%);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.sales-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sales-right {
  display: flex;
  padding-left: 30px;
  flex: 1 1 auto;            
}

.sales-txts {}

.sales-title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(47, 53, 68);
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
  }
}

.sales-date {
  font-weight: 500;
  font-size: 14px;
  color: rgb(145, 159, 179);
  width: 100%;
  flex: none;
  order: 10;
}

.sales-actions {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;

  >a {
    margin-left: 22px;
    flex: none;
  }
}

.sales-edit {}

.sales-remove {}

.add-contact2 {
  margin-bottom: 0;
}

.addsale-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  background: linear-gradient(0deg, rgba(246, 247, 249, 0.85), rgba(246, 247, 249, 0.85));
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;  
}

.addsale-overlay-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.addsale-popup {
  background: #FFFFFF;
  box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.07);
  position: absolute;
  border-radius: 10px;
  max-width: 520px;
  width: calc(100% - 30px);
  left: 50%;
  top: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
  transform: translate(-50%, -50%);
}

.addsale-top {
  display: flex;
  padding: 30px 30px 35px;
  border-bottom: 1px solid rgb(208, 218, 233);
  border-top-color: rgb(208, 218, 233);
  border-right-color: rgb(208, 218, 233);
  border-left-color: rgb(208, 218, 233);
  justify-content: space-between;              
}

.addsale-title {
  font-weight: 600;
  font-size: 21px;
  color: #2F3544;
  position: relative;
}

.addsale-subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #606A7C;
}

.addsale-body {
  padding: 37px 30px 40px;
}

.addsale-lebel-text {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);
  margin-bottom: 30px;
}

.addsale-textarea {
  width: 100%;
  height: 110px;
  padding: 17px;
  margin-bottom: 30px;
}

.addsale-actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addsale-upload-icon {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(208, 218, 233);
  box-sizing: border-box;
  border-radius: 6px;
  width: 56px;
  height: 56px;
  padding: 3px;
}

.addsale-upload-icon-inn {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 10px 10px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.addsale-upload-text {
  font-weight: 500;
  font-size: 16px;
  color: rgb(49, 129, 246);
  display: inline-block;
  margin-left: 15px;
}

.addsale-close {
  right: 20px;
  top: 20px;
  position: absolute;
}


.addsale-body {}



.class {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.addsale-upload-box {
  display: flex;  
          align-items: center;
          cursor: pointer;
}


@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";